[submodule "DataStructures"]
        path = src/DataStructures
        url = git@github.com:chrisaugu/DataStructures.git

[submodule "src/cryptography/mycryptochat"]
        path = src/cryptography/mycryptochat
        url = git@github.com:Undone/mycryptochat.git